.pyrho_experts .title {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    font-style: italic;
}

.pyrho_experts .intro_video {
    text-align: center;
    padding-top: 10px;
}

.pyrho_experts .links {
    text-align: center;
    margin-top: 15px;
}

.pyrho_experts .action-buttons {
    text-align: center;
    margin-top: 10px;
}

.pyrho_experts .action-buttons button {
    width: 150px;
    margin-left: 20px;
}

.pyrho_experts .registration-section {
    margin-top: 20px;
    text-align: center;
    color: #ffffff;
    padding-bottom: 50px;
}

.pyrho_experts .registration-section .important-message {
    font-weight: 500;
    text-decoration: underline;
}

.pyrho_experts .registration-section .mat-form-field {
    width: 250px;
}

.pyrho_experts .registration-button {
    margin-left: 10px;
    padding: 0px 10px;
    line-height: 30px !important;
}