<div class="pyrho_experts">
    <h2 class="title">Get Byte Sized Answers from experts to your parenting queries.</h2>
    <div class="intro_video">
        <video width="{{videoWidth}}" height="{{videoHeight}}" controls>
            <source src="assets/pyrho_expert.mp4" type="video/mp4">
            Your browser does not support modern web videos.
        </video>
    </div>
    <div class="action-buttons">
        <button mat-raised-button color="accent" routerLink="/prototype" routerLinkActive="active">DEMO</button>
    </div>

    <div class="registration-section">
        <p class="important-message">Pyrho is currently under development while we onboard additional experts onto our platform.<br/>If you would like to be informed once it's available please submit your email below.</p>
        <div class="form">
            <div>
                <mat-form-field [color]="'primary'" class="email-form-field">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="email" name="email" [(ngModel)]="email">
                </mat-form-field>
                <button mat-raised-button class="registration-button" color="warning" [disabled]="!email || !(email.includes('@'))" (click)="registerInterest()">SUBMIT</button>
            </div>
        </div>
    </div>
</div>