<div class="register-interest-dialog" >
    <h2 mat-dialog-title class="title">Registration of interest/suggestion</h2>
    <mat-dialog-content class="content">
        <div class="pricing-section">
            <p>
                At this point we are only assessing market demand through registration of emails by interested parties, below price is only for future reference.
            </p>
            <p style="text-align: center;">
                <span class="original-price">$14.99</span> <span class="discount-price">$9.99</span> / month* <br/>
                <span style="font-size: 12px;">*Early subscribers will get discounted price.</span>
            </p>
            <p>
                All parties that provide authentic feedback/suggestions in the comments section will be entered into a <strong>lucky draw for $50 Amazon Gift Card</strong>.
            </p>
        </div>
        <div class="form">
            <div>
                <mat-form-field [color]="'primary'" class="email-form-field">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="email" name="email" [(ngModel)]="email">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field [color]="'primary'" class="comments-form-field">
                    <mat-label>Comments</mat-label>
                    <textarea matInput rows="5" name="comments" placeholder="If you have specific feature requests or any other comments, let us know here..." [(ngModel)]="comments">{{comments}}</textarea>
                </mat-form-field>
            </div>
            <div>
                <mat-checkbox class="interest-check-box" [(ngModel)]="interested">Would you be interested in receiving news <br/> about similar products?</mat-checkbox>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-flat-button color="primary" [mat-dialog-close]="{ email: email, comments: comments }" [disabled]="!email || !email.includes('@') || !comments">Submit</button>
    </mat-dialog-actions>
</div>