.register-interest-dialog {
    width: 100%;
}

.register-interest-dialog .content {
    overflow: unset;
    font-size: 12px;
}

@media only screen and (min-width: 801px) {
    .register-interest-dialog {
        width: 500px;
    }
}

.register-interest-dialog .content .pricing-section .original-price {
    font-size: 12px;
    text-decoration: line-through;
}

.register-interest-dialog .content .pricing-section .discount-price {
    padding-left: 5px;
    font-size: 18px;
    color: #4aaf7e;
}

.register-interest-dialog .content .email-form-field {
    width: 100%;
}


.register-interest-dialog .content .comments-form-field {
    width: 100%;
}