
.loading-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.loading-container .mat-spinner {
    margin-left: auto;
    margin-right: auto;
    margin-top: 48vh;
}