.academic {
    padding: 10px 25%;
    color: #ffffff;
}

@media only screen and (max-width: 800px) {
    .academic {
        padding: 10px 8%;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1400px) {
    .academic {
        padding: 10px 15%;
    }
}

.academic img {
    width: 100%;
}

.academic a {
    color: #00f2ff;
}