<div class="root">
  <app-loading-container></app-loading-container>
  <div class="header"><a  routerLink="/" routerLinkActive="active"><img src="assets/pyrho_logo.PNG"/></a></div>
  <router-outlet></router-outlet>
</div>
