.pyrho_parents .intro_video {
    text-align: center;
    padding-top: 10px;
}

.pyrho_parents .links {
    text-align: center;
    margin-top: 15px;
}

.pyrho_parents .links button {
    color: #ffffff;
    text-decoration: underline;
}

.pyrho_parents .features-section {
    padding-bottom: 60px;
}

.pyrho_parents .features-card {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #ececec;
    color: #000000;
}

.pyrho_parents .features-card .features-card-title {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

.pyrho_parents .features-card .features-card-content {
    padding: 0px 5px;
}

.pyrho_parents .features-card ul {
    padding-inline-start: 15px;
}

.pyrho_parents .features-card li {
    margin: 10px 0px;
    font-weight: 600;
    font-size: 13px;
}

.pyrho_parents .features-card .features-card-buttons {
    text-align: center;
    margin-bottom: 10px;
}

.pyrho_parents .features-card .features-card-buttons button {
    background-color: #69f0ae;
}