<div class="pyrho_parents">
    <div class="intro_video">
        <video width="{{videoWidth}}" height="{{videoHeight}}" controls>
            <source src="assets/pyrho_parent.mp4" type="video/mp4">
            Your browser does not support modern web videos.
        </video>
    </div>
    <div class="links">
        <button mat-button routerLink="/concept" routerLinkActive="active">How It Works!</button>
        <button mat-button routerLink="/whitepaper" routerLinkActive="active">The not so exact science!</button>
    </div>
    <div class="features-section">
        <mat-card class="features-card">
            <h4 class="features-card-title">Membership Features</h4>
            <mat-card-content class="features-card-content">
                <ul>
                    <li>Needs profile based on our proprietary data model, Steam and Roblox*.</li>
                    <li>Find out details about vocations enjoyed by gamers with similar profiles.</li>
                    <li>Find activities that are highly enjoyed by gamers with similar profiles.</li>
                    <li>A exclusive community based forum to find solutions to one's queries, specially those that work well for a certain profile.</li>
                </ul>
            </mat-card-content>
            <mat-card-actions class="features-card-buttons">
                <button mat-raised-button color="accent" (click)="registerInterest()">REGISTER</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>