<div class="concept">
    <h2>Mission Statement</h2>
    <p>
        Pyrho is a novel platform that aims to utilize one's gaming choices/decisions to gain insights into their need satisfaction profile and hence help them attain positive well-being.
        The reason people enjoy video games so much is that they satisfy our innate psychological needs, and the fact that there are so many different forms/genres of games indicates that we have quite a few different needs to satisfy.
        Since we already spend time playing the video games, it would be great if we could extract information out of our play that can help us in understanding ourselves better and hence making choices in real life that maximize our well-being.
        Various studies have shown that lack of need satisfaction in the physical world can lead to increasing dependence of satisfying that need through games. 
        While we are starting with needs based on self-determination theory (a widely held theory in social psychology), our long term objective is to use information from games to help our members in a multitude of ways. 
    </p>
    <h4>
        <a class="demo-link link" target="_blank" href="https://www.fluidui.com/editor/live/preview/cF9WQjMxYnhDS3ZsOXFpbTlKZ0tYU3JUTkR2cDNLVmQ1dQ==">Click here</a> to access a very basic concept demo of Pyrho.
    </h4>

    <h2>Examples of usages</h2>
    <ul>
        <li>
            If a gamer's profile shows that they are playing games high in the need for competence,
            this could indicate that they are not getting opportunities in real life to engage in something that they feel competent in, hence exploring competitive activities in which their skills may shine would be an opportunity to help them.
        </li>
        <li>
            If a gamer's profile shows that they are engaging heavily in games that satisfy the need for autonomy,
            this could indicate that they do not feel in control of their learning process and would like greater decision making power in regards to what they get to explore in the real world.
        </li>
        <li>
            If a gamer's profile shows that they enjoy a high degree of affiliation and they do engage with a lot of people, this would be a signal to ensure that they take appropriate precautions in regards to trust with people they barely know.
        </li>
        <li>
            Infinitely many others...
        </li>
    </ul>

    <p>
        Fundamentally the above examples illustrate that Pyrho is just a tool, as such simply knowing the underlying need is only part of the puzzle, one must also critically analyzing this information in the context of the specific individual.
        We beleive parents are gifted with a natural sense of understanding when it comes to their children and hence can utilize this information to help them make appropriate adjustments for their child's well-being. 
        At the same time an active community can help socialize the learnings to ensure no one is left behind and we all can benefit from each others trial and errors.
    </p>

    <p class="important-note">
        Remember Pyrho is not a diagnostic tool or a tool for therapy, it is simply there to highlight underlying psychological needs according to it's model.
        The model will not be correct 100% percent of the time as psychology is not an exact science, so please do not use Pyrho for any critical judgement.
    </p>

    <h2>The Process</h2>

    <p>
        There are three stages that we must go through in order for Pyrho to be a viable solution. Let's start with the first stage.
    </p>

    <h3>Stage 1: Data Collection</h3>
    <img class="stage-image" src="assets/pyrho_concept_stage_one.jpg">
    <p>
        The first stage requires us to create a platform that can be used to collect data at scale.
        Since we will need data from a large and diverse set of gamers in order to build a accurate artificial intelligence model, we will need resources to market this platform.
        We will also need to encourage every gamer to take our assessment multiple times in order to account for human error, hence we will test out different economic models for this stage.
        This platform will change over time as we gain further insight into the various underlying needs.
    </p>
    <p>
        Since this stage will be so financially intensive, we will need to run a crowdfunding campaign before truly embarking upon it. This is again to test the market to ensure we have genuine demand as people are willing to put their money behind us.
        There is more on this process at the end of this page.
    </p>

    <h3>Stage 2: Machine Learning Model Creation and Validation</h3>
    <img class="stage-image" src="assets/pyrho_concept_stage_two.jpg">
    <p>
        The second stage requires us to utilize the data collected in the first stage to build a machine learning model.
        We will first use statistical techniques to isolate clusters of highly correlated features and data sets.
        Then we will test out different machine learning techniques to automate the classification for various input metrics.
        We will need to continuously update the model based on new data from the first stage and at the same time ensure that validating it against different segments of the data is successful.
    </p>
    <p>
        This is a continuous and perpetual process to ensure we keep on improving our model but to start off we will need a model with reasonably high success rates on untested data.
    </p>

    <h3>Stage 3: Building the Pyrho platform</h3>
    <img class="stage-image" src="assets/pyrho_concept_stage_three.jpg">
    <p>
        The third stage is simply to build the Pyrho application on top of the proven data model from stage two.
        We will start off with the most crucial features like providing the gamer profile through a quick assessment and a community forum.
        We will then add new features with time as we are able to hire more resources. The early subscribers will benefit from the new features at a discounted cost.
        As the community grows we will expand into further fine grained data metrics for motivations and needs to further improve the experience of our members.
    </p>
    <p>
        At this point we will consider Pyrho to have been officially launched.
        Though this is barely the start of our journey and we hope that with time we will be able to provide tremendous value to our members.
    </p>

    <h2>Validation of interest</h2>
    <p>
        If we find there is sufficient interest through registration on this site, we will work out the most effective data collection methodologies by developing a basic platform.
        At this point we will need sufficient funding in order to market this platform to gamers. In order to finance this effort we will use some personal funds along with crowdfunding.
        The purpose of the crowdfunding initiative is to ensure we have real demand before embarking upon a exhaustive marketing campaign.
        The entire process for this is not yet finalized but generally we expect it to be as follows.
    </p>
    <p>
        Once we have sufficient people register their interest here, we will work out the details for the first stage. 
        Once we have a systematic approach and platform for this stage we will send daily notifications to all those who registered their interest.
        These notifications should indicate the date and time of the start of the crowdfunding campaign. The campaign will be limited to a certain number of people (to be decided).
        This is to ensure we get those that want Pyrho the most to be the first to gain access to it, this will help create a really strong community.
        After a few months we will open Pyrho to others for registration but only to those who registered interest here but failed to contribute to our crowdfunding campaign or to those who are exclusively invited by existing members.
        This should ensure we always have a exclusive, active and helpful community as that would be crucial for Pyrho's success.  
    </p>
</div>
