.concept {
    padding: 10px 25%;
    color: #ffffff;
}

@media only screen and (max-width: 800px) {
    .concept {
        padding: 10px 8%;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1400px) {
    .concept {
        padding: 10px 15%;
    }
}

.concept .link {
    color: #00f2ff;
}

.concept .stage-image {
    width: 100%;
}

.concept .important-note {
    font-weight: 500;
}