<div class="prototype">
    <div *ngIf="!concernSubmitted && !selectedPsycho">
        <h1 class="title">WELCOME TO <br/>PYRHO</h1>
        <div class="form">
            <mat-form-field [color]="'primary'" class="concern-form-field" appearance="fill">
                <textarea matInput rows="12" name="concern" placeholder="Please describe your concern, provide as much detail as you believe is relevant." [(ngModel)]="concern">{{concern}}</textarea>
            </mat-form-field>
        </div>
        <button mat-raised-button class="submit-concern-button" color="primary" [disabled]="!concern || concern.length <= 10" (click)="submitConcern()">SUBMIT</button>
    </div>
    <div *ngIf="!!concernSubmitted && !selectedPsycho" class="bids-view">
        <h2 class="concern-title"><u>{{concern}}</u></h2>
        <div class="bids-container" fxLayout="row wrap" fxLayoutGap="10px" fxLayoutGap.xs="0px">
            <mat-card class="bid-card" fxFlex.xl="22%" fxFlex.lg="30%" fxFlex.md="45%" *ngFor="let psycho of psychos">
                <mat-card-header>
                    <mat-card-title>{{ psycho.name }}</mat-card-title>
                    <mat-card-subtitle>
                        <div class="rating">

                            <mat-icon class="active" *ngFor="let rated of [].constructor(psycho.rating)">star_rate</mat-icon>
                            <mat-icon *ngFor="let rated of [].constructor(5 - psycho.rating)">star_rate</mat-icon>
                        </div>
                        <mat-chip-list>
                            <mat-chip color="primary" selected>{{ psycho.specialty }}</mat-chip>
                            <mat-chip color="primary" selected>{{ psycho.education }}</mat-chip>
                        </mat-chip-list>
                    </mat-card-subtitle>
                </mat-card-header>
                <img src="/assets/coaches/{{ psycho.image }}">
                <mat-card-content>
                    <p class="pro-tip">{{ psycho.protip }}</p>
                    <p class="base-cost">Advice for <span class="price">${{ psycho.cost }}</span>, with <span class="no-of-followups">{{ psycho.followups }}</span> follow-ups.</p>
                    <p class="additional-cost">${{ psycho.additionalCost }} per additional follow-up.</p>
                </mat-card-content>
                <mat-card-actions style="text-align: center;">
                    <button mat-raised-button style="background-color: #69f0ae;" color="accent" (click)="selectPsycho(psycho)">SELECT</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div *ngIf="!!concernSubmitted && selectedPsycho" class="advice-view">
        <div class="psycho-cover-image">
            <img src="/assets/coaches/{{ selectedPsycho.image }}">
            <h2>{{ selectedPsycho.name }}</h2>
        </div>

        <div class="messaging-container">
            <div class="concern-container">
                <p>Q. {{concern}}</p>
            </div>
    
            <div class="advice-container">
                <p>
                    A. This is just a demo and as such the advice provided here is just for showcasing the functionality. It does not contain anything meaningful as it is simply dummy text.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id eu nisl nunc mi. Scelerisque fermentum dui faucibus in. Neque aliquam vestibulum morbi blandit cursus risus. Imperdiet proin fermentum leo vel. Purus in massa tempor nec feugiat. Ac turpis egestas integer eget aliquet. Ornare lectus sit amet est placerat in. Pharetra massa massa ultricies mi quis hendrerit. At lectus urna duis convallis convallis tellus id interdum. Massa ultricies mi quis hendrerit dolor magna eget. Amet commodo nulla facilisi nullam vehicula. Id interdum velit laoreet id donec. Vel pharetra vel turpis nunc eget lorem dolor sed. Non consectetur a erat nam at.
                </p>
                <p>
                    Egestas sed sed risus pretium quam vulputate dignissim suspendisse in. Tellus elementum sagittis vitae et leo duis ut diam quam. Duis ultricies lacus sed turpis tincidunt. Iaculis nunc sed augue lacus. Non enim praesent elementum facilisis leo vel fringilla est ullamcorper. Nunc eget lorem dolor sed viverra ipsum nunc. Adipiscing bibendum est ultricies integer quis auctor elit sed vulputate. Donec ac odio tempor orci dapibus ultrices. Non blandit massa enim nec. Sit amet consectetur adipiscing elit duis tristique sollicitudin nibh sit.
                </p>
            </div>

            <div class="followup-container" *ngFor="let followuptext of followups"><p>{{followuptext}}</p></div>

            <div class="form">
                <mat-form-field appearance="fill" [color]="'primary'" class="followup-form-field">
                    <textarea matInput rows="12" name="followup" placeholder="If you have a follow up question, please type here." [(ngModel)]="followup">{{followup}}</textarea>
                </mat-form-field>
            </div>
            <div style='text-align: center;'>
                <button mat-raised-button class="submit-followup-button" color="warning" [disabled]="!followup || followup.length <= 10" (click)="submitFollowup()">SUBMIT</button>
            </div>
        </div>
    </div>
</div>