.prototype {
    text-align: center;
    color: #ffffff;
    background-color: #333333;
    min-height: calc(100vh - 71px);
}

.prototype .title {
    padding-top: 25px;
    font-size: 50px;
    font-weight: 800;
    font-style: italic;
    line-height: 50px;
}

.prototype .rating {
    text-align: left;
}

.prototype .rating .mat-icon {
    font-size: 15px;
    width: 15px;
    height: 15px;
}

.prototype .rating .mat-icon.active {
    color: #69f0ae;
}

.prototype .concern-form-field {
    margin-top: 100px;
    width: 80%;
}

.prototype .bids-view {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

@media only screen and (max-width: 500px) {
    .prototype .bids-view {
        width: 95%;
    }
}


@media only screen and (min-width: 501px) and (max-width: 960px) {
    .prototype .bids-view {
        width: 90%;
    }
}

@media only screen and (min-width: 961px) and (max-width: 1300px) {
    .prototype .bids-view {
        width: 85%;
    }
}

.prototype .bids-view .concern-title {
    text-align: center;
}

.prototype .bids-view .bids-container {
    justify-content: center;
}

.prototype .bids-view .bids-container .bid-card {
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;
}

.prototype .bids-view .bids-container .bid-card .mat-card-content {
    padding-left: 20px;
    text-align: center;
}


.prototype .bids-view .bids-container .bid-card .mat-card-header-text {
    margin-left: 0px;
}

.prototype .bids-view .bids-container .bid-card .mat-card-title {
    text-align: left;
}

.prototype .bids-view .bids-container .bid-card img {
    width: 100%;
}

.prototype .bids-view .bids-container .bid-card .mat-card-header .mat-chip {
    font-size: 11px;
    text-transform: uppercase;
    padding: 0px 10px;
    min-height: 25px;
}

.prototype .bids-view .bids-container .bid-card .mat-card-content {
    margin-bottom: 5px;
}

.prototype .bids-view .bids-container .bid-card .mat-card-content .pro-tip {
    margin-top: 15px;
    font-size: 18px;
    text-align: center;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
}

.prototype .bids-view .bids-container .bid-card .mat-card-content .base-cost {
    text-align: center;
    margin-bottom: 0px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.prototype .bids-view .bids-container .bid-card .mat-card-content .base-cost .price {
    color: #69f0ae;
    text-decoration: underline;
}

.prototype .bids-view .bids-container .bid-card .mat-card-content .base-cost .no-of-followups {
    color: #f0e769;
}

.prototype .bids-view .bids-container .bid-card .mat-card-content .additional-cost {
    text-align: center;
    margin-top: 0px;
    font-size: 9px;
    line-height: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #cccccc;
}

.prototype .advice-view {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

@media only screen and (max-width: 500px) {
    .prototype .advice-view {
        width: 95%;
    }
}

@media only screen and (min-width: 501px) and (max-width: 960px) {
    .prototype .advice-view {
        width: 90%;
    }
}

@media only screen and (min-width: 961px) and (max-width: 1300px) {
    .prototype .advice-view {
        width: 85%;
    }
}

.prototype .advice-view .psycho-cover-image {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.prototype .advice-view .psycho-cover-image img {
    width: 100%;
}

.prototype .advice-view .messaging-container {
    text-align: left;
    padding-bottom: 40px;
}

.prototype .advice-view .concern-container {
    margin-top: 35px;
}

.prototype .advice-view .concern-container p {
    font-size: 18px;
    color: #ffa9c6;
}

.prototype .advice-view .advice-container {
    margin-top: 20px;
}

.prototype .advice-view .advice-container p {
    font-size: 16px;
    color: #69f0ae;
}

.prototype .advice-view .messaging-container .followup-container {
    font-size: 18px;
    color: #ffa9c6;
}

.prototype .advice-view .messaging-container .followup-form-field {
    width: 100%;
}