<div class="home">
    <div class="error-container" *ngIf="errorMessage">
        {{ errorMessage }}
    </div>
    <div class="success-container" *ngIf="successMessage">
        {{ successMessage }}
    </div>
    <div>
        <!-- <app-parents></app-parents> -->
        <app-experts></app-experts>
    </div>
    <div class="information-section">
        <mat-icon aria-hidden="false" aria-label="information icon" #tooltip="matTooltip" matTooltip="{{musicInfo}}" [matTooltipPosition]="'below'">info</mat-icon>Background music details for the introduction video.
    </div>
</div>
