.home {
    height: 100%;
    position: relative;
}

.home .error-container {
    text-align: center;
    background-color: #242424;
    color: #ffffff;
    padding: 10px 0px;
}

.home .success-container {
    text-align: center;
    background-color: #242424;
    color: #ffffff;
    padding: 10px 0px;
}

.home .information-section {
    text-align: center;
    font-size: 11px;
    position: absolute;
    color: #cccccc;
    width: 100%;
    bottom: 0px;
}

.home .information-section p {
    margin-bottom: 0px;
    font-size: 11px;
    line-height: 14px;
}

.home .information-section .mat-icon {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    font-size: 11px;
}